name: Approve renovate PRs

on:
  pull_request:

jobs:
  approve:
    permissions:
      # Needed for logging into vault.
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    # Do not bother running if PR is not authored by grafanarenovatebot.
    # https://woodruffw.github.io/zizmor/audits/#bot-conditions
    if: github.event.pull_request.user.login == 'renovate-sh-app[bot]' && github.repository == github.event.pull_request.head.repo.full_name
    steps:
      - uses: grafana/sm-renovate/actions/renovate-approve@1adfd3fa2ea19e7b43b8915727d47558a9404976
        with:
          renovate-user: 'renovate-sh-app[bot]'
